#忽略生成的代码
/code/model
/code/javaMapper
/code/xmlMapper

#maven
/target
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/lib
/src/test/generated

# idea
.idea/
*.iml
*.ipr
*.iws

#eclipse
.settings/
.classpath
.project
